# Tarea 1

Fecha de entrega: 
Miercoles 11 de marzo, 2025, 11.59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables. 
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no. 
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [3]:
#Respuesta
output = (5*2)**2 + 5*2**2
output

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```50```

In [19]:
output = 5*(5*2)
output

50

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [23]:
output = (5 * 5) * 2  
es_mayor_que_uno = output > 1  

print(es_mayor_que_uno)

True

3. Utilizando sólo los siguientes inputs: ```31``` maneja los operadores tal que el output sea ```0```

In [5]:
output = 31 - 31
print(output)

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [27]:
output = (2 * 2) + 1  
print(output)

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 1600. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2000.

In [29]:
x = 800  
y = 800  

v = (x + y) == 2000  

print(v)

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [33]:
z = 600
a = 400

suma = z + a
print("z + a =", suma)

z + a = 1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [19]:
cantcongresistas = 130
horas_semanales = 40
semanas = 48
horastotales = cantcongresistas*horas_semanales*semanas
print (f"la cantidad de horas en total de los 130 congresistas son {horastotales}")

la cantidad de horas en total de los 130 congresistas son 249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [47]:
salariomensual = 15600
salariohora = salariomensual/(30*24)
sumasalariohora = salariohora*cantcongresistas
print (f"el salario por hora de un congresista es {salariohora}")
print (f"el salario por hora de los 130 congresistas es {sumasalariohora}")

el salario por hora de un congresista es 21.666666666666668
el salario por hora de los 130 congresistas es 2816.666666666667

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles


Cree una variable para cada uno de los siguientes:
- porcentaje de IGV 
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [3]:
porcentaje_igv= 0.1
facturacion_total= 3426
valor_base = facturacion_total / (1 + porcentaje_igv)
monto_igv=  facturacion_total - valor_base
descuento_igv= 0.1*valor_base

print(f"el valor base sin impuestos es {valor_base} soles")
print(f"el monto del IGV es {monto_igv} soles")
print(f"el descuento del IGV en soles es {descuento_igv} soles")

el valor base sin impuestos es 3114.5454545454545 soles
el monto del IGV es 311.4545454545455 soles
el descuento del IGV en soles es 311.4545454545455 soles

10.  Cristina percibe el sueldo mínimo (1025 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [71]:
# Definimos los salarios mensuales
cristina = 1025  
congresista = 12000

# Calculamos los salarios anuales y comparamos
es_menor = (cristina * 12) < (congresista * 12)  

# Resultados
print("Salario anual de Cristina:", cristina * 12, "soles")
print("Salario anual de un congresista:", congresista * 12, "soles")
print(f"¿El salario anual de Cristina es menor que el de un congresista? {es_menor}")

Salario anual de Cristina: 12300 soles
Salario anual de un congresista: 144000 soles
¿El salario anual de Cristina es menor que el de un congresista? True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [51]:
# Datos
monto_total = 1200000000
familias = 1023

# Calculamos el residuo
residuo = monto_total % familias

# Si hay residuo, necesitamos agregar la diferencia para completar un entero
monto_adicional = familias - residuo if residuo != 0 else 0

print(monto_adicional)

483

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [35]:
mi_lista = [
    "Hola, mundo",  # Un string
    True,  # Un booleano
    3.14,  # Un número decimal
    42,  # Un número entero
    ["BTS", "Lady Gaga"]  # Una lista con dos strings (artistas musicales favoritos)
]

print(mi_lista)

['Hola, mundo', True, 3.14, 42, ['BTS', 'Lady Gaga']]

13. Tenemos la siguiente lista de cursos:

In [61]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

Realiza las siguientes operaciones en bloques diferentes: 
- Calcula cuántos elementos tiene la lista.

In [63]:
# Calculamos la cantidad de elementos en la lista
cantidad_cursos = len(cursos)
print(f"La lista tiene {cantidad_cursos} cursos.")

La lista tiene 5 cursos.

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional. 
   - Usa el append. 
   - Usa el extend.

In [53]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
# Añadiendo cursos
cursos = cursos + ["Mateco"]
cursos.append("Estadística")
cursos.extend(["Programación"])

print(f"Lista después de agregar cursos: {cursos}")

Lista después de agregar cursos: ['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho', 'Mateco', 'Estadística', 'Programación']

13.2. 
- Usa la indexación para señalar a _RSP_.

In [47]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

# Acceder a "RSP" usando su índice
curso_rsp = cursos[3]

print(f"El curso seleccionado es: {curso_rsp}")

El curso seleccionado es: RSP

13.3.
- Remueve el curso que menos te guste de la lista.

In [65]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
# Eliminar el curso que menos me gusta
cursos.remove("RSP")
print(cursos)

['Historia', 'Economia', 'Antropologia', 'Derecho']

14
Tenemos los siguientes números: 30, 24, 54.2, 15.8, 145, 90, 100.
 - Crea una lista con ellos. 
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [9]:
list_1 = [30, 24, 54.2, 15.8, 145, 90, 100 ]
print(list_1)
list_1.sort()
print(list_1)
promedio = sum(list_1)/len(list_1)
print(promedio)

[30, 24, 54.2, 15.8, 145, 90, 100]
[15.8, 24, 30, 54.2, 90, 100, 145]
65.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [11]:
x = 6
if x % 2 == 0:
  print("Es multiplo de 2")
if x % 3 == 0:
  print("Es multiplo de 3")
if x % 2 == 0 and x % 3 == 0:
  print("Es multiplo de 2 y 3")
else:
  print("Otro caso")

Es multiplo de 2
Es multiplo de 3
Es multiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [13]:
def clasificar_edad(edad):
  if edad < 12:
    print("Niño")
  if edad >= 12 and edad <= 17:
    print("Adolescente")
  if edad >= 18 and edad <= 24:
    print("Joven")
  if edad >= 25 and edad <= 64:
    print("Adulto")
  if edad >= 65:
    print("Adulto Mayor")
  return
clasificar_edad(10)
clasificar_edad(19)
clasificar_edad(25)
clasificar_edad(70)

Niño
Joven
Adulto
Adulto Mayor